@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700');
@import url("./caiuss.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.0/octicons.css");

div {
  border: 0;
  padding: 0;
  margin: 0 0 0 0;
}

div.terminal > div {
  padding-bottom: 1.35px;
}

.terminal {
  font-family: monospace;
  font-size: 11px;
  line-height: 1;
  color: #f0f0f0;
  background: #222 !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.reverse-video {
  color: #000;
  background: #f0f0f0;
}

.not-found-wrapper {
    max-width: 100%;
    width: 450px;
    text-align: center;
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.55);
    margin: 111px auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0 4px 25px black;
}

html, body {
    background: #222;
}

a {
    text-decoration: underline !important;
    color: #2c3e50 !important;
}
a:hover {
    opacity: 0.8;
}
